body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: rgba(192, 59, 192, 0.808) !important;
  height: 100vh;
}

.input-div {
  height: auto;
  width: 100%;
  padding: 1rem;
}

#search {
  width: 75%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  outline: none;
}

#icon {
  font-weight: bold;
  font-size: xx-large;
  cursor: pointer;
}

.result {
  height: auto;
  width: auto;
  background: whitesmoke;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.details {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}

@media (max-width: 480px) {
  .result {
    grid-template-rows: auto auto;
    grid-template-columns: auto;
  }
  .details {
    flex-direction: column;
    padding: 1rem;
  }
}
